[submodule ".bash/git-aware-prompt"]
	path = .bash/git-aware-prompt
	url = https://github.com/jimeh/git-aware-prompt
[submodule "zsh_custom/plugins/zsh-autosuggestions"]
	path = zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
